.select {
    margin: 50px 50px 0 !important;
    width: 300px;
}

.events {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 50px;
}

.card {
    margin: auto;
    width: 100%;
}

.cardTitle {
    min-height: 60px;
}

.background {
    background-color: #333333;
    height: 140px;
}

.icon {
    color: black;
}

.cardActions {
    justify-content: space-between;
}

.titleModal {
    margin-top: 30px !important;
    text-align: center;
}

.cancel {
    color: #cc0000 !important;
    font-size: 80px !important;
    margin-top: 30px;
    justify-content: center;
    width: 100% !important;
}

.check {
    color: #008800 !important;
    font-size: 80px !important;
    margin-top: 30px;
    justify-content: center;
    width: 100% !important;
}

.message {
    margin-top: 30px;
    text-align: center;
}

.buttonsModal {
    justify-content: center;
}

.buttonModal {
    margin: 20px !important;
}

.buttonTrue {
    background-color: #008800 !important;
    color: #ffffff !important;
}

.buttonFalse {
    background-color: #cc0000 !important;
    color: #ffffff !important;
}